.modal {  
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    background: rgba(0,0,0,0.5);  
    z-index: 10000;
    transition: opacity 500ms ease-in;   
    opacity: 0;  
    pointer-events: none;  
} 

.modal > div {  
    width: 500px;  
    background: #fff;  
    position: relative;  
    margin: 10% auto;  
    animation: minimise 500ms linear;   
    padding: 30px;  
    border-radius: 7px;  
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);  
    text-shadow: 0 1px 0 #fff;  
} 

a.openModal {  
    margin: 1em auto;  
    display: block;  
    width: 200px;  
    background: #ccc;  
    text-align: center;  
    text-decoration: none;  
    color: black;  
    padding: 10px;  
    border-radius: 7px;  
    text-shadow: 0 1px 0 #fff;  
    border: 1px solid rgba(0,0,0,0.1);  
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);  
} 

.modal a[href="#close"] {  
    position: absolute;  
    right: 0;  
    top: 0;  
    color: transparent;  
} 

.modal a[href="#close"]:after {  
    content: 'X';  
    display: block;  
    /* Position */  
    position: absolute;  
    right: -10px;  
    top: -10px;  
    width: 1.5em;  
    padding: 1px 1px 1px 2px;  
    text-decoration: none;  
    text-shadow: none;  
    text-align: center;  
    font-weight: bold;  
    background: #000;  
    color: #fff;  
    border: 3px solid #fff;  
    border-radius: 50%;  
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);  
} 

.modal a[href="#close"]:focus:after,  
.modal a[href="#close"]:hover:after {  
    transform: scale(1.1,1.1);  
}  
.modal a[href="#close"]:focus:after {  
    outline: 1px solid #000;  
} 

.modal:target {  
    opacity: 1;  
    pointer-events: auto;  
} 

.modal:target > div {  
    animation-name: bounce;  
} 

@keyframes bounce {  
    0% {  
        transform: scale3d(0.1,0.1,1);  
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);  
    }  
    55% {  
        transform: scale3d(1.08,1.08,1);  
        box-shadow: 0 10px 20px rgba(0,0,0,0);  
    }  
    75% {  
        transform: scale3d(0.95,0.95,1);  
        box-shadow: 0 0 20px rgba(0,0,0,0.9);  
    }  
    100% {  
        transform: scale3d(1,1,1);  
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);  
    }  
} 

@keyframes minimise {  
    0% {  
        transform: scale3d(1,1,1);  
    }  
    100% {  
        transform: scale3d(0.1,0.1,1);  
    }  
} 